app-search {
    flex: 2;
}

.custom-search {
    width: 100%;

    &.mat-mdc-form-field {
        height: 56px;

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }

        .mdc-text-field--filled {
            background-color: transparent;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
            color: rgba(255, 255, 255, 0.87);
        }
    }
}