<div class="bookmark">
  <mat-icon class="icon">bookmark</mat-icon>
  <div class="content">
    <div class="title">{{ bookmark().title }}</div>
    <a class="url" href="{{ bookmark().url }}" target="_blank">{{
      bookmark().url
    }}</a>
  </div>
  <div class="action">
    <button mat-icon-button routerLink="/{{ bookmark().id }}">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(bookmark().id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
