.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo,
    .action-buttons {
        flex: 1;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    main {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    main {
        padding: 15px;
    }
}